In [1]:
import yfinance as yf
import pandas as pd

def download_data(ticker='AAPL', start='2018-01-01', end='2024-12-31'):
    df = yf.download(ticker, start=start, end=end)
    df.to_csv(f"{ticker}.csv")
    print(f"Data for {ticker} saved as {ticker}.csv")
    return df

download_data()

C:\Users\yoges\AppData\Local\Temp\ipykernel_3176\484964802.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker, start=start, end=end)
[*********************100%***********************]  1 of 1 completed

Data for AAPL saved as AAPL.csv

Price            Close        High         Low        Open     Volume
Ticker            AAPL        AAPL        AAPL        AAPL       AAPL
Date
2018-01-02   40.426823   40.436212   39.722768   39.933986  102223600
2018-01-03   40.419785   40.964255   40.356422   40.490191  118071600
2018-01-04   40.607540   40.710802   40.384590   40.492543   89738400
2018-01-05   41.069866   41.156698   40.612231   40.703758   94640000
2018-01-08   40.917316   41.213018   40.818746   40.917316   82271200
...                ...         ...         ...         ...        ...
2024-12-23  254.655716  255.034791  252.840088  254.156919   40858800
2024-12-24  257.578674  257.588630  254.675658  254.875189   23234700
2024-12-26  258.396667  259.474086  257.010028  257.568678   27237100
2024-12-27  254.974930  258.077462  252.451019  257.209530   42355300
2024-12-30  251.593094  252.889969  250.146586  251.623020   35557500

[1760 rows x 5 columns]